.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul li a {
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "poppins", sans-serif;
  color: var(--cor-s2);
  padding: 10px 20px;
  position: relative;
}

.menu ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  transition: .3s;
  background: #111;
}

.menu ul li:hover::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #111;
}
